.MixedWine {
    display: flex;
}

.MixedWine-container {
    display: flex;
    /* display: flex; */
    flex-direction: column;
    padding: 20px;
    background-color: #f9f9f9;
    margin-left: 70px;
    margin-top: 70px;
    font-weight: bold;
    font-size: 16px;
    /* width: calc(260px - 10px); */
}

ul li :hover {
    color: orange;
}

.MixedWine-container ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-weight: 600;
}

.MixedWine-container li {
    margin: 10px 0;
}

.MixedWine-title {
    margin-bottom: 20px;
    /* font-weight: bold; */
    font-size: 22px;
    /* text-align: center; */
}

.MixedWine-sidebar {
    flex-direction: column;
    background-color: #f9f9f9;
    margin-top: 70px;
    font-weight: bold;
}

.MixedWine-sidebar h3 {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 22px;
}


.wineHome {
    color: #1f2937;
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
    /* transition: color 0.3s ease; */
    font-size: 15px;
    margin-left: 70px;
}

.wineHome:hover {
    color: #2563eb;
}

.font-medium:hover {
    color: #2563eb;
}

.ForeignWine {
    display: flex;
}